// google fonts (Montserrat, Baskerville, Playfair)
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Montserrat&family=Playfair+Display&display=swap');

// variables
$greyish: rgb(50, 50, 50);
$aztec: rgb(203, 32, 32);
$dark-aztec: rgb(160, 27, 27);
$star-wars: #ffc909;

// basic structure
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $greyish;
    font-family: 'Montserrat';
    text-decoration: none;
    display: box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

// ==== Animations Onscroll ==== //
// movement around screen
.left {
    transform: translateX(-50%);
}
.right {
    transform: translateX(50%);
}
.up {
    transform: translateY(50%);
}
.down {
    transform: translateY(-50%);
}

// fades
.fade-in {
    opacity: 0;
    transition: all 2s ease-out;
}

.fade-slower {
    transition: all 3s ease-out;
}

// show all animations
.appear {
    opacity: 1;
    transform: translateX(0);
    transform: translateY(0);
}

// === navbar & footer === //
// Navbar
nav {
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // animation: fade-in 3s ease-out;

    a {
        text-decoration: none;
        color: white;
    }

    .logo {
        font-family: 'Playfair';
        color: $aztec;
        font-size: 72px;
        padding: 10px;
        margin-left: 20px;
    }

    ul {
        list-style-type: none;
        display: inline-flex;
        align-items: center;
        margin-right: 10px;
        
        li {
            padding: 10px;
            margin-right: 10px;
            font-size: 28px;

            a:hover {
                color: $aztec;
            }
        }
    }
}

// Footer
.footer {
    border-top: 1px solid rgb(255,255,255);
    background: linear-gradient(rgb(20, 20, 20), rgb(0, 0, 0));
    color: rgb(255,255,255);

    .foot-icon-row, .foot-info-row {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        align-items: center;
        padding: 20px 15vw;

        .icon, .info-item {
            text-decoration: none;
            color: rgb(255,255,255);
            font-size: 28px;
            transition: all 200ms ease-in-out;
        }

        .icon:hover {
            color: $aztec;
            font-size: 32px;
        }
    }

    .foot-info-row {
        justify-content: center;

        .info-item {
            font-size: 18px;
            border-left: 1px solid rgb(255, 255, 255);
            padding: 0 10px;
        }
        .info-item:last-child {
            border-right: 1px solid rgb(255, 255, 255);
        }
        .info-item:hover {
            font-size: 20px;
            color: $aztec;
        }
    }
}


// === Small Screen Intro === //
.intro-hero-section {
    width: 100%;
    height: 85vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: end;
    align-items: center;

    .small-hero-title {
        width: 60%;
        color: white;
        margin: 20px;
        text-align: center;

        h1 {
            font-size: 42px;
            color: $aztec;
        }

        h3 {
            font-size: 20px;
        }
    }
}
.intro-hero-desc {
    background-color: rgb(0,0,0);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 30px;

    p {
        text-indent: 30px;
    }
}


// === Large Screen Intro === //
// star wars style intro
.intro-sw-section {
    display: none;
    background-color: rgb(0, 0, 0);
    height: 90vh;
    overflow: hidden;
    position: relative;
    color: $star-wars;

    .sw-credits {
        display: flex;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        perspective: 350px;

        .sw-text {
            color: $star-wars;
            font-size: 3vw;
            line-height: 1.5em;
            font-weight: bold;
            text-align: justify;
            position: relative;
            animation: scroll 120s linear forwards;
            animation-iteration-count: infinite;

            h1, h4 {
                text-align: center;
                padding-bottom: 20px;
                text-transform: uppercase;
            }
            
            h1 {
                font-size: 72px;
            }
            p {
                text-indent: 50px;
            }
        }
    }
}
// gradient to fade out
.sw-credits::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 100%);
}
// background
.intro-sw-section::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-image: url('https://imgs.search.brave.com/xvheYo2t3BDTIAh1LAfcoIxbmDedLfRmjPBZY_KFoj0/rs:fit:1200:1080:1/g:ce/aHR0cHM6Ly9qb29p/bm4uY29tL2ltYWdl/cy9lbXB0eS1zcGFj/ZS0xLnBuZw');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}


// === Skills About === //
.about-section {
    overflow-y: hidden;
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    padding-bottom: 10px;

    .small-about-title {
        color: $aztec;
        font-size: 36px;
        border-bottom: 8px solid rgb(0, 0, 0);
    }

    .about-desc {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-indent: 30px;
        padding-top: 15px;
    }
    
    .about-info-col {   
        width: 100%;
        margin-right: 5%;
        padding-top: 45px;

        .about-tabs {
            display: flex;
            margin: 0px 7vw 40px 7vw;
            justify-content: space-between;

            p {
                font-family: 'Baskerville';
                color: white;
                font-size: 24px;
                font-weight: 500;
                cursor: pointer;
                position: relative;
            }

            p::after {
                content: '';
                width: 0;
                height: 5px;
                background: rgb(0, 0, 0);
                position: absolute;
                left: 0;
                bottom: -8px;
                transition: 0.5s;
            }

            p:hover::after {
                width: 70%;
            }

            .active-tab::after {
                width: 100%;
            }
        }

        .about-card {
            display: none;
        }

        .active-link {
            display: flex;
            flex-direction: column;
            border-left: 5px solid rgb(0, 0, 0);
            border-bottom: 5px solid rgb(0, 0, 0);
            padding-bottom: 10px;

            h2 {
                color: $aztec;
                padding: 15px;

                .long-form-title {
                    display: none;
                }

                .date {
                    color: $dark-aztec;
                    font-size: 20px;
                }
            }

            ul {
                list-style-type: disc;
                color: white;
                margin: 0 0 10px 45px;

                li {
                    padding-top: 2px;
                }
            }

            .red-text {
                // color: $aztec;
                font-weight: bold;
                text-decoration: underline $aztec;
            }
        }
    }

    .about-pic-col {
        display: none;
        width: 40%;
        overflow: hidden;

        h1 {
            color: $aztec;
            font-size: 42px;
            text-indent: 30px;
            padding-bottom: 10px;
        }

        .pic-container {
            border-top: 5px solid rgb(0, 0, 0);
            border-right: 5px solid rgb(0, 0, 0);
            
            #hockey-pic {
                height: 80vh;
                width: 100%;
                object-fit: cover;
                transform: translateX(-25px);
                padding-right: 20px;
                padding-top : 20px;
            }
        }
    }
}


// === Portfolio === //
.portfolio-section {
    border-top: 1px solid rgb(255,255,255);
    background-color:rgb(20, 20, 20);
    height: 100vh;

    // portfolio carousel
    .carousel {
        align-items: center;
        display: flex;
        overflow: hidden;
        position: relative;
        width: 100vw;
       
        .carousel-cards {
            display: flex;
            transform: translateX(0);
            transition: transform 1s;

            // dont touch any of that nonsense above
            .car-card {
                background-color: rgb(20, 20, 20);
                height: 100vh;
                width: 100vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                // title and description
                .card-col1, .card-col2-rev {
                    width: 80%;
                    margin: 0 auto;

                    h2 {
                        color: $aztec;
                        text-align: center;
                        font-size: 6vw;
                        padding-bottom: 10px;
                    }

                    p {
                        color: rgb(255,255,255);
                        text-indent: 30px;
                        padding-bottom: 7px;
                    }

                    p:last-child {
                        padding-bottom: 15px;
                    }

                    .large-screen-p {
                        display: none;
                    }
                }

                // image/video and source code
                .card-col2, .card-col1-rev {
                    width: 80%;
                    margin: 0 auto;

                    iframe, img {
                        padding: 5px;
                        height: 200px;
                        width: 90%;
                        display: block;
                        margin: 0 auto;
                    }

                    iframe, img, .link {
                        border: 3px solid rgb(0, 0, 0);
                        box-shadow: 2px 4px 4px rgb(0, 0, 0);
                    }

                    .link {
                        padding: 10px;
                        width: 40%;
                        margin: 10px auto;
                        background-color: $aztec;
                        text-align: center;
                        cursor: pointer;
                        
                        a {
                            text-decoration: none;
                            color: rgb(0, 0, 0);
                            font-size: 24px;
                        }

                        i {
                            color: black;
                            font-size: 28px;
                            padding-right: 10px;
                        }
                    }
                }

                // first card
                .port-header {
                    font-size: 42px;
                    text-align: center;
                    color: rgb(255,255,255);
                    padding: 0 45px;
                }
            }
        }

        .carousel-btn {
            background-color: rgb(20, 20, 20);
            border: 0;
            border-radius: 3rem;
            color: white;
            cursor: pointer;
            font-size: 28px;
            font-weight: bold;
            height: 40px;
            width: 40px;
            opacity: 0.50;
            position: absolute;
            transition: opacity 0.25s;
            z-index: 3;
        }

        .previous {
            left: 15px;
        }
            
        .next {
            right: 15px;
        }

        .carousel-btn:hover {
            opacity: 0.75;
            color: $aztec;
            border: 2px solid rgb(255,255,255);
            transition: all 500ms ease-out;
        }
    }
}


// ===== Animations =====
// star wars scroll
@keyframes scroll {
    from {
        top: 800px;
        transform: translateZ(0) rotateX(20deg);
    } to {
        top: -7000px;
        transform: translateZ(-2500px) rotateX(21deg);
    }
}

// navbar fade-in
@keyframes fade-in {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

// ===== Responsive Actions ===== //
@media screen and (min-width: 0px) { // nada

}

@media screen and (min-width: 482px) { // nada

}

@media screen and (min-width: 642px) { // change hero, about desc, and fill about titles
    // up nav font size
    nav > ul > li {
        font-size: 36px;
    }

    // hide small hero and show star wars
    .intro-hero-section, .intro-hero-desc { // hide
        display: none;
    }
    .intro-sw-section { // show
        display: block;
    }

    // hide small about description
    .about-section > .about-desc {
        display: none;
    }
    // show full about titles
    .about-section > .about-info-col > .about-card > h2 > .long-form-title {
        display: block;
    }

}

@media screen and (min-width: 962px) { // show about pic col, 
    // === About section === //
    .about-section > h1 { // hide About Me title
        display: none;
        border-bottom: none;
    }
    .about-section > .about-info-col { // change info col width
        width: 55%;
        margin-right: 5%;
    }
    .about-section > .about-pic-col { // show about pic col, change portolio style
        display: block;
    }

    // === Portfolio section === //
    .portfolio-section > .carousel > .carousel-cards > .car-card > .port-header {
        font-size: 54px;

        .maincard-break {
            display: none;
        }
    }

    .portfolio-section > .carousel {
        
        .carousel-cards {
            .car-card {
                flex-direction: row;
    
                .card-col1, .card-col2-rev {
                    width: 50%;
                    margin: 10% 0;
    
                    h2 {
                        color: $aztec;
                        text-align: start;
                        font-size: 6vw;
                        padding: 20px;
                    }
    
                    p {
                        color: rgb(255,255,255);
                        text-indent: 30px;
                        padding:0 20px 20px 20px;
                    }
    
                    .large-screen-p {
                        display: block;
                    }
                }
    
                .card-col2, .card-col1-rev {
                    margin: 10% 0;
                    width: 30%;
    
                    iframe, img {
                        padding: 5px;
                        height: 200px;
                        width: 90%;
                        display: block;
                        margin: 0 auto;
                    }
    
                    iframe, img, .link {
                        border: 3px solid rgb(0, 0, 0);
                        box-shadow: 2px 4px 4px rgb(0, 0, 0);
                    }
    
                    .link {
                        margin: 20px auto;
                        padding: 10px;
                        width: 50%;
                        background-color: $aztec;
                        
                        a {
                            text-decoration: none;
                            color: rgb(0, 0, 0);
                            font-size: 24px;
                        }
    
                        i {
                            color: black;
                            font-size: 28px;
                            padding-right: 10px;
                        }
                    }
                }
            }
        }

        .carousel-btn {
            height: 70px;
            width: 70px;
            font-size: 42px;
        }

        .previous {
            left: 25px;
        }
            
        .next {
            right: 25px;
        }

    }

    // footer changes
    .footer > .foot-icon-row, .foot-info-row {
        padding: 20px 25vw;
    }
}

@media screen and (min-width: 1026px) {

}